@import "tailwindcss";
@config "../tailwind.config";

button {
  cursor: pointer;
}


[root] {
  --primary-button: #fff
}

[theme="dark"] {
  --primary-button: #f00
}

.disabled {
  cursor: default;
  opacity: 0.5;
}